{% extends 'base.html' %}
{% block content %}
	<nav class="navbar is-dark bl-navbar">
    <!-- navbar brand, navbar menu... -->
    <span class="bl-big-text">BucketList Application</span>
    <a class="button is-danger" href="{% url 'auth_logout' %}">Logout</a>
  </nav>
  <nav class="breadcrumb is-right" aria-label="breadcrumbs">
    <ul>
      <li>
        <span class="icon is-small">
          <i class="fa fa-home"></i>
          </span><span>
          <a href="{% url 'dashboard' %}">Dashboard</a>
        </span>
      </li>
      <li class="is-active">
        <a href="#" aria-current="page">
          <span class="icon is-small">
            <i class="fa fa-bitbucket-square" aria-hidden="true"></i>
            </span><span>
            {{ bucketlist.name }}
          </span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="bl-bucketlist-header">
    <h1 class="bl-welcome-text">{{ bucketlist.name }}</h1>
    <a class="button is-warning" id="modal-button">Add New Item</a>
  </div>
  {% if items %}
    <div class="bl-bucketlists columns is-multiline is-mobile">
    {% for item in items %}
      <div class="card column is-half">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{ item.name }}</p>
              <p class="subtitle is-6">Status: {{ item.done }} </p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>There are no items currently. Create one </p>
  {% endif %}
  <!-- The Modal -->
  <div id="modal" class="modal">
    <!-- Modal content -->
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Create an Item in {{ bucketlist.name }}</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <form class="bl-homepage-form bl-signup" method="POST">				
        <section class="modal-card-body">
          {% csrf_token %}
          {{ item_form }}
        </section>
        <footer class="modal-card-foot bl-full-width">
          <button class="button is-success" type="submit">Create</button>
          <button class="button bl-homepage-cancel">Cancel</button>
        </footer>
      </form>    
  </div>
{% endblock %}
